@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow-x: clip;
    overscroll-behavior: none;
    width:100%;
}

.feature-container
{
    
    width: 50%;
    position: relative;
    margin: auto;
    margin-top:2%;
    font-family: 'Poppins',sans-serif;
    text-align:center;
    /* width:50%; */
    border:4px;
    border-color: black;
    border-style:double;
    height: 600px;
}

/* in the process of fixing style for .feature and sub-styles */
.slide
{
    display: none;    
    font-family: 'Poppins',sans-serif;


}

/* .features .right
{
    font-family: "Poppins",sans-serif;

} */

/* .feature.title
{
    font-family: "Poppins";
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 30px;
} */

.title{
    font-size:x-large;
    font-weight: bold;
    padding: 5%;
}

.description {
    font-size: large;
    margin:auto;
    text-align:center;
    width:70%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 95%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev{
    left:0%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}





/* Home page style */

.banner{
    overflow: clip;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("https://www.uottawa.ca/study/sites/g/files/bhrskd296/files/styles/max_width_l_1470px/public/2021-10/20170905-BF-CAMPUS-SCENIC-001-resized.jpg?itok=GrxZkpxe");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.logo{
    width: 120px;
    height: 60px;
    cursor: pointer;
    margin: 0 20px;
    color: #fff;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
    font-family: 'poppins', sans-serif;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-family: 'poppins', sans-serif;
}
#body header .banner .content div button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #FFB479;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: clip;
}
#body header .banner .content div span{
    background: #FFB479;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
#body header .banner .content div button:hover span{
    width: 100%;
}
#body header .banner .content div button:hover{
    border: none;
}

/* BUTTON STUFF I JUST CANT ALLIGN THE ICONS */
.wrapper{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    right: 50px;
    bottom: 50px;
    position: absolute;
}

.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    align-items: center;
    margin: 0 5px;
    overflow: clip;
    background: whitesmoke;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0 ,0 ,0.1) ; 
    transition: all 0.3s ease-out; 
}

.wrapper .button:hover{
    width: 225px;
    transition: all 0.3s ease-out;
}
.wrapper .button .icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon{
    background: #cd486b;
}

.wrapper .button:nth-child(2):hover .icon{
    background: #aaaaaa;
}
.wrapper .button:nth-child(3):hover .icon{
    background: #7289da;
}

.wrapper .button:nth-child(4):hover .icon{
    background: #1877F2;
}


.wrapper .button:hover .icon{
    font-size: 25px;
    line-height: 60px;
}


.wrapper .button span{
    font-size: 25px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}

.wrapper .button:nth-child(1) span{
    color: #cd486b;
}

.wrapper .button:nth-child(2) span{
    color: #aaaaaa;
}

.wrapper .button:nth-child(3) span{
    color: #7289da;
}

.wrapper .button:nth-child(4) span{
    color: #1877F2;
}


/* NAVIGATION BAR STUFF */
.navigation {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10px;
    width: 100%;
}

nav{
    word-spacing: 75px;
    font-size: 20px;
    position: relative;
    top: 5px;
    align-items: center;
}


nav a{
    position: relative;
    font-size: 1.1em;
    color: whitesmoke;
    text-decoration: none;
    padding: 6px 20px;
    transition: .5s
}

nav a:hover{
    color: #FFB479;;
}

nav a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid #FFB479;
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    opacity: 1;
    transition: .5s;

}

nav a:hover span{
    transform: scale(1) translateY(0);
    opacity: 1;
}

/*Download Page*/

 #download-page{
    font-family: "Poppins", sans-serif;
    background-color:#fc9c51;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


#download-page .download {
    text-align: center;
    padding: 40px;
    background-color: #FFB479 ;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    z-index: 0;
}


#download-pagee .download h2 {
    font-size: 2em;
    margin: 0;
}

#download-page .download p {
    font-size: 1em;
    margin: 10px 0 30px;
    color: #D1C4E9;
}


#download-page .get {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
    gap: 10px; 
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
    color: #FFFFFF;
}

#download-page .get li {
    margin: 5px 0;
    color: #FFFFFF;
}


#download-page .download button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 3px solid #fc9c51;;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: clip;
}

#download-page .download button span{
    background: #fc9c51;;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
#download-page .download button:hover span{
    width: 100%;
}

#download-page .download button:hover{
    border: none;
}





/*Teams Page*/

#team td{
	width: 33%;
	vertical-align: top;
    padding: 25px;
}
#team img{
	width: 500px;
	height: 500px;
	object-fit: cover;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 25px;
	box-shadow:10px 10px 5px rgba(0, 0, 0, 0.459);
}

#team table{
	table-layout: auto;
	margin: auto;
}


#team tr{
	height:500px;
}

#team p{
	width: 500px;
	height: 100%;
	text-align-last: center;
	display: none;
	color: #23213D;
	}



#team {
	justify-content:center;
    display: flex;
	background-color: #FFB479;
	color: #23213D;
}

#team h2{
	text-align: center;
	color: #23213D;
}

#team img:hover + p{
	display: block;
}

#team .email_icon {
	width: 100px;
	height: 100px;
	margin:center;
}

#team .navigation {
    display:block;
    text-align: center;
    top: 0;
    padding: 15px;
    color: #23213D;
    background-color: rgba(0, 0, 0, 0.650);
    box-shadow: 0 20px 50px rgba(0,0,0,0.650);
}


#team .about {
	width: 80%;
	height: 80%;
	margin: 10px;
}
